<link rel="stylesheet" type="text/css" href="/css/admin/tablas.css">

<h1 class="titulo">Alumnos<div><a href="/panel/alumnos/papelera">Ver papelera <i class="fa fa-trash"></i></a></div></h1>

<% if(!modulo.registro.length) { %>
<p class="descripcion">Aún no hay alumnos registrados.</p>
<a class="boton agregar" href="/panel/alumnos/agregar"><i class="fa fa-plus"></i> Registrar un alumno</a>
<% } else { %>
<p class="descripcion">Alumnos de la institución (<%= modulo.registro.length %> registros)</p>


<div class="tabla">
  <div class="busqueda">
    <p>Busqueda</p>
    <select>
      <option value="todo" selected>Todo</option>
      <option value="nivel">Nivel</option>
      <option value="nombre">Nombre</option>
      <option value="apellido">Apellido</option>
      <option value="edad">Edad</option>
      <option value="sexo">Sexo</option>
      <option value="direccion">Dirección</option>
    </select>
    <input type="text" name="busqueda" placeholder="Escriba su busqueda">
    <input type="button" name="buscar" value="Buscar" onclick="realizarBusqueda()">
  </div>
  <div class="contenedor">
    <table>
      <thead>
        <tr>
          <th>Nivel</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <% modulo.registro.forEach(function(r) { %>
          <tr>
            <td <%if(!r.nivel || !r.nivel.estado){%>style="color:darkred;"<%}%>><%if(r.nivel){%><%= r.nivel.codigo%><%}else{%>?<%}%></td>
            <td><%= r.nombre + ' ' + r.apellido %></td>
            <td><%= r.edad %></td>
            <td><%= r.sexo %></td>
            <td <%if(!r.representante || !r.representante.estado){%>style="color:darkred;"<%}%>><%if(r.representante){%><%= r.representante.direccion %><%}else{%>?<%}%></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="controles">
    <a class="agregar habilitado" href="/panel/alumnos/agregar" title="Agregar"><i class="fa fa-plus"></i></a>
    <span></span>
    <a class="ver" title="Ver"><i class="fa fa-eye"></i></a>
    <a class="modificar" title="Modificar"><i class="fa fa-wrench"></i></a>
    <form id="eliminar" method="POST">
      <button class="eliminar" title="Eliminar"><i class="fa fa-trash"></i></button>
    </form>
    <span></span>
    <a class="reporte habilitado" title="Imprimir" onclick="obtenerReporte('table')"><i class="fa fa-print"></i></a>
  </div>
</div>

<div class="fila-detalles">
  <p class="titulo"><span id="nombre"></span></p>
  <ul>
    <li><span>Id.:</span><span id="id"></span></li>
    <li><span>Repr.:</span><span id="representante"></span></li>
  </ul>
</div>


<script type="text/javascript">
  var modulo = <%-JSON.stringify(modulo)%>;
</script>
<script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/lib/pdfmake.min.js"></script>
<script type="text/javascript" src="/js/lib/vfs_fonts.js"></script>
<script type="text/javascript" src="/js/admin/tablas.js"></script>
<% } %>
