<link rel="stylesheet" type="text/css" href="/css/admin/formularios.css">

<h1 class="titulo modificar">Alumnos<a href="/panel/alumnos"><i class="fa fa-arrow-left"></i> Volver</a></h1>
<p class="descripcion">Modificar el alumno Id: <%= modulo.registro.id %></p>

<div class="formulario">
  <form action="/panel/alumnos/<%= modulo.registro.id %>/modificar" method="POST">

    <label for="nivel">Nivel</label>
    <select name="nivel" id="nivel">
      <% for(const i in modulo.nivel) { %>
        <option value="<%= modulo.nivel[i].id %>" data_position="<%=i%>" <%if(modulo.nivel[i].id == modulo.registro.nivel_id){%>selected<%}%>><%= modulo.nivel[i].descripcion + ' (' + modulo.nivel[i].codigo + ')'%></option>
      <% } %>
    </select>

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Primer nombre" value="<%= modulo.registro.nombre %>">

    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" name="apellido" placeholder="Primer apellido" value="<%= modulo.registro.apellido %>">

    <label for="listen-edad">Edad</label>
    <input type="text" name="edad" id="listen-edad"  placeholder="Edad" value="<%= modulo.registro.edad %>">

    <label for="sexo">Sexo</label>
    <select id="sexo" name="sexo">
      <option <%if(modulo.registro.sexo == 'Masculino'){%>selected<%}%>>Masculino</option>
      <option <%if(modulo.registro.sexo == 'Femenino'){%>selected<%}%>>Femenino</option>
    </select>

    <label for="representante">Representante</label>
    <select id="representante" name="representante">
      <% for(const i in modulo.representante) { %>
        <option value="<%= modulo.representante[i].id %>"><%=modulo.representante[i].cedula %></option>
      <% } %>
    </select>

    <input type="submit" value="Modificar">
  </form>
  <div class="message-flow" id="message-flow"></div>
</div>

<script type="text/javascript">
  var modulo = <%-JSON.stringify(modulo)%>;
</script>
<script src="/js/validate.js"></script>
